  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3 display-1">Revue</h1>
    <h4 class="mb-3 display-1">d'actuallités</h4>
    <a class="btn btn-primary" href="" role="button">Click</a>
  </div>
  <!-- Jumbotron -->